#orders-container{
    display: flex;
    flex-flow: row wrap;
}

.table-num{
    display: flex;
    justify-content: center;
}
.table-num:hover{
    cursor: pointer;
}

.order{
    width: 24.5%;
    /* background-color: deeppink; */
    border: 1px solid black;
}

.order-item{
    background-color: green;
    border: 1px solid black;
}

.order-item:hover{
    cursor: pointer;
}

ul{
    margin: 0;
    list-style-type: none;
}

.comment{
    background-color: blue;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.modification{
    background-color: red;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    /* margin-bottom: 1px; */
}