<div id="orders-container">
  
  <div *ngFor="let order of orders" class="order">
      <h3 class="table-num" (click)="completeOrder(order._id)">{{order.table}}</h3>

      <div *ngFor="let item of order.items" class="order-item" (click)="cookItem(order._id, item._id)">
        <span *ngIf="item.status==='open'||item.status==='revise'" >
          {{item.quantity}} {{item.name}}
          <ul>
            <li *ngIf="item.comments" class="comment">{{item.comments}}</li>
            <li class="modification" *ngFor="let mod of item.modifications">
              {{mod}}
            </li>
          </ul>     
        </span>
      </div>
  </div>
</div>


