<input type="button" [value]="filteredOrder" (click)="orderFilter()">
<input type="button" value="Filter">
<div class="categories">  
  <form id="categoryForm">
    <div class="category" *ngFor="let categoryName of categories">
        <input type="submit" type="checkbox" name="category" (click)="filterCategory('category')" [value]="categoryName">
        {{categoryName}}
    </div>
  </form>
</div>

<div class="statuses">
  <form id="statusForm">
    <div class="status" *ngFor="let statusName of statuses">
      <input type="submit" type="checkbox" name="status" (click)="filterStatus('status')" [value]="statusName">
      {{statusName}}
    </div>
  </form>
</div>

<span *ngIf="filteredCategories.length > 0">
  Filtering <span *ngFor="let category of filteredCategories">
    {{category}}
  </span>
</span>

<div id="orders-container">
  
  <div *ngFor="let order of orders | filter:'status':filteredOrders" class="order">
    <div class="table-num">
        <h3>{{order.table}}</h3>
        <span class="ordertooltiptext">
            <input type="button" value="Open" (click)="orderStatus(order._id, 'open')">
            <input type="button" value="Cooked" (click)="orderStatus(order._id, 'cooked')">
            <input type="button" value="Sent" (click)="orderStatus(order._id, 'sent')">
            <input type="button" value="Revise" (click)="orderStatus(order._id, 'revise')">
            <input type="button" value="Closed" (click)="orderStatus(order._id, 'closed')">
        </span>
    </div>

      <div *ngFor="let item of order.items | filter:'category':filteredCategories | filter:'status':filteredStatus" class="order-item tooltip">
          {{item.quantity}} {{item.name}} {{item.status}}
          <span class="tooltiptext">
            <input type="button" value="Open" (click)="itemStatus(order._id, item._id, 'open')">
            <input type="button" value="Cooked" (click)="itemStatus(order._id, item._id, 'cooked')">
            <input type="button" value="Sent" (click)="itemStatus(order._id, item._id, 'sent')">
            <input type="button" value="Revise" (click)="itemStatus(order._id, item._id, 'revise')">
          </span>
          <ul>
            <li *ngIf="item.comments" class="comment">{{item.comments}}</li>
            <li class="modification" *ngFor="let mod of item.modifications">
              {{mod}}
            </li>
          </ul>     
      </div>    
  </div>
</div>


