<input type="button" value="New Restaurant" (click)="showModal('new-restaurant-modal')">


<!-- The modal -->
<div id="new-restaurant-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    
    <div class="modal-item">

        <div class="right-column">
          <h3>New Restaurant</h3>

          <form>
            <input type="text" placeholder="Restaurant Name" name="name" [(ngModel)]="newRestaurant['name']">
            <input type="text" placeholder="Description" name="description" [(ngModel)]="newRestaurant.description">
            <input type="text" placeholder="Cuisine" name="cuisine" [(ngModel)]="newRestaurant.cuisine">
            <input type="text" placeholder="Picture" name="picture" [(ngModel)]="newRestaurant.picture">
            <input type="submit" value="Create New Restaurant" (click)="createNewRestaurant()">
          </form>
      
          <div>
            {{error}}
          </div>
        </div>

    </div>
  </div>
</div>