
<div class="nav">
  <h1>{{restaurantName}}</h1>
  <app-place-order [order]="order" [placeOrder]="placeOrder" (onExecute)="executeOrder()"></app-place-order>
</div>


<div class="menu-container" *ngFor="let menu of menus">
  <h2>{{menu.name}}</h2>

  <div class="subMenu-names-container">
    <div class="subMenu-name" *ngFor="let subMenu of menu.subMenus" [ngClass]="{'active': subMenu.category === currentCategory}">
        <span class="cursor-point" (click)="toggleCategory(subMenu['category'])">{{subMenu.category}}</span>
    </div>
  </div>

  <div class="subMenu-items-container" *ngFor="let subMenu of menu.subMenus | filter:'category':currentCategory">
      <div class="cursor-point menu-item" *ngFor="let item of subMenu.items" (click)="showModal(item._id + '-modal')">
        <img class="menu-item-pic" [src]="item.picture">
        <h3>{{item.name}}</h3>
        
        <!-- The modal -->
        <div [id]="item._id + '-modal'" class="modal">
          <div class="modal-content">
            <span class="close" (click)="hideModal()">&times;</span>

            <div class="modal-item">
              
                <div class="left-column">
                    <img [src]="item.picture">
                </div>

                <div class="right-column">
                  <h3>{{item.name}} <span>${{item.price}}</span></h3>
                  <p>{{item.description}}</p>
                  Ingredients
                  <ul>
                    <li *ngFor="let ingredient of item.ingredients">
                      {{ingredient}}
                      <input type="button" value="Remove" (click)="removeIngredient(ingredient)">
                    </li>
                  </ul>

                  <input type="button" value="Comment" (click)="showCommentForm(item._id + '-comments', $event)">
                </div>

            </div>
            
            <div class="comments" >
              <textarea [id]="item._id + '-comments'" placeholder="Separate comments with a comma"
                [(ngModel)]="comments"></textarea>
            </div>

            <div class="modal-buttons">
                <input type="button" value="Add" (click)="addItemToOrder()">
                <input type="number" name="quantity" min="1" [(ngModel)]="quantity">
              <!-- <input type="button" value="Order"> -->
            </div>

          </div>
        </div>
        
      </div>

  </div>
</div>